@model Aplicacion_Meteorologia.Models.Usuario

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.Id)</h2>

<hr />

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreCompleto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreCompleto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dni)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dni)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Localizacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Localizacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Meteorologia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Meteorologia)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Volver al listado", "Index")
</p>
